.camara-div {
    height: auto;
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px dashed #232323;
    background-color: #23232340;
}
