@import "./root.css";

.planes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px 30px;
}
.planes-item {
    flex-grow: 1;
    max-width: 400px;
    min-width: 280px;
    transition: scale 100ms;
}
.planes-item:hover {
    z-index: 1;
    scale: 1.02;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .3);
}
.planes-item-checked {
    z-index: 2;
    scale: 1.1 !important;
    position: relative;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, .3);
}
.planes-item-checked:before {
    top: -2px;
    left: -2px;
    padding: 1rem;
    content: "\2714";
    color: whitesmoke;
    position: absolute;
    border-radius: 0 0 5px 0;
    background-color: #077E9D;
}
.planes-next-btn {
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border: 1px solid;
    color: whitesmoke;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 150ms;
    background-color: var(--bs-primary);
}
.planes-next-btn:hover {
    scale: 1.1;
    border-radius: 20px;
    background-color: var(--bs-secondary);
}
