/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');*/
@import "izitoast/dist/css/iziToast.min.css";
@import "./bootstrap.css";
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

:root {
    --bs-primary: #077E9D;
    --bs-primary-rgb: 7,126,157;
    --bs-secondary: #025B7D;
    --bs-secondary-rgb: 2,91,125;
    --bs-warning: #FCBB1C;
    --bs-warning-rgb: 252,187,28;
    /* Azules para uso en cositas */
    --blue-50: #e4f0f6;
    --blue-100: #bcd9ea;
    --blue-200: #8bbdd9;
    --blue-300: #5ba4cf;
    --blue-400: #298fca;
    --blue-500: #0079bf;
    --blue-600: #026aa7;
    --blue-700: #055a8c;
    --blue-800: #094c72;
    --blue-900: #0c3953;
    --bs-body-font-size: 18px;
}
body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    background-image: radial-gradient(#025b7d 0.5px, transparent 0.5px);
    background-size: 29px 29px;
    background-color: #f7f7f7;
}
[x-cloak]{
    display: none !important;
}
.main-container{
    min-height: 100vh;
    min-height: 100dvh;
}
.bg-blue-50{ background-color: #e4f0f6 !important}
.bg-blue-100{ background-color: #bcd9ea !important}
.bg-blue-200{ background-color: #8bbdd9 !important}
.bg-blue-300{ background-color: #5ba4cf !important}
.bg-blue-400{ background-color: #298fca !important}
.bg-blue-500{ background-color: #0079bf !important}
.bg-blue-600{ background-color: #026aa7 !important}
.bg-blue-700{ background-color: #055a8c !important}
.bg-blue-800{ background-color: #094c72 !important}
.bg-blue-900{ background-color: #0c3953 !important}
[x-cloak]{display: none !important}
.flex{display: flex;}
.text-bg-primary {
    color: #fff!important;
    background-color: RGBA(var(--bs-primary-rgb),var(--bs-bg-opacity,1))!important;
}
.link-hover {
    transition: scale 100ms;
    display: inline-block;
}
.link-hover:hover {scale: 0.95}

.border-dashed {
    border-style: dashed !important;
}

.aside {
    gap: 5px;
    width: 30%;
    height: auto;
    min-height: 600px;
    position: sticky;
    position: -webkit-sticky;
    top: 45px;
    padding: 20px 10px 0 10px;
    min-width: 270px;
    width: 300px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 55px);
    transition: transform 200ms ease-out,
                opacity 150ms ease-in-out;
}

.aside-show-start {
    opacity: 0;
    transform: translateX(-100%);
}
.aside-show-end {
    opacity: 1;
    transform: translateX(0);
}

.aside-with-header {
    max-height: 100vh;
    max-height: 100dvh;
    top: 0;
}

.aside a[aside-link] {
    gap: 10px;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #dfdfdf;
    padding: 10px 15px;
    font-weight: lighter;
    border-radius: 40px;
    text-decoration: none;
}
.aside a[aside-link]:hover {
    background-color: rgba(200, 200, 200, .3);
    color: #fff;
}
.is-active {
    background-color: rgba(200, 200, 200, .3);
    color: #fff;
    pointer-events: none;
}
.form-control-sm, .form-select-sm{
    font-size: 13px;
}
.form-uppercase input {
    text-transform: uppercase;
}
/* Gateway */
.gateway-background {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    background-color: white;
    background: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
                linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
    background-size: 6rem 4rem;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: radial-gradient(circle 800px at 100% 200px,#d5c5ff,transparent)
    }
}
.gateway-background.approved::before {
    background: radial-gradient(circle 800px at 100% 200px, #afffbe,transparent)
}
.gateway-background.rejected::before {
    background: radial-gradient(circle 800px at 100% 200px, #fbb8b8,transparent)
}
.gateway-background.pending::before {
    background: radial-gradient(circle 800px at 100% 200px, #b8e6fb,transparent)
}
.bg-gateway.approved {
    background-color: #afffbe;
}
.bg-gateway.rejected {
    background: #fbb8b8;
}
.bg-gateway.pending {
    background: #b8e6fb;
}
.gateway-container {
    min-height: 100dvh;
    min-width: 100%;
    font-size: 14px;
    display: grid;
    place-content: center;
    &>:first-child {
        width: 90dvw;
        width: 90vw;
        max-width: 500px;
    }
}
.gateway-info {
    grid-template-columns: 1fr 1fr;
}
.number-format::before {
    content: '$';
    margin-right: 5px;
    font-weight: lighter;
}
.plan-img-container {
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: calc(100% - 3rem);
    max-width: 300px;
    & img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}
/* Fin Gateway */

@media (width < 768px) {
    .aside {
        height: 100vh;
        position: fixed;
        position: -webkit-fixed;
        top: 0;
        left: 0;
        box-shadow: 12px 0px 20px 11px rgb(0 0 0 / 30%) !important;
        border-radius: 0px !important;
        z-index: 1021;
        max-height: unset;
    }
}

@media (max-width: 991px) {
    .registro-usuario-image {
        max-height: 300px;
    }
}
